* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

main {
    text-align: center;
}

#game_board {
    display: grid;

    grid-template-columns: repeat(12, 40px);
    grid-template-rows: repeat(12, 40px);

    gap: 2px;

    margin-top: 2rem;
}

.cell {
    width: 40px;
    height: 40px;

    border: 1px solid #444;

    background: white;
}